.text_container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 218, 219);
    
}
.text_area{
    width: 70%;
    height: 90%;
    background-color: white;
    padding: 1rem;
    overflow: auto;
}