.nav_container{
  width: 100vw;
  height: 4rem;
  background-color: aliceblue;
  text-align: center;
  box-shadow: 1px 2px #888888;
}

select{
  cursor: pointer;
  width: 8rem;
  height: 2rem;
  border-style: none;
  margin: 5px;
  border-radius: 3px;
  position: relative;
  top: 32px;
  box-shadow: 1px 1px 1px 2px #888888;
}